<div class="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand">
      <a class='pointer' ui-sref="admin.dashboard.overview">Dashboard</a>
    </li>

    <li>
      <a ui-sref-active='side-nav-active' ui-sref="admin.dashboard.users">
        <i class="fa fa-users"></i>&nbsp;&nbsp;&nbsp;Users
      </a>
    </li>

    <li>
      <a ui-sref-active='side-nav-active' ui-sref="admin.dashboard.sectors">
        <i class="fa fa-book"></i>&nbsp;&nbsp;&nbsp;Sectors
      </a>
    </li>

    <li>
      <a ui-sref-active='side-nav-active' ui-sref="admin.dashboard.categories">
        <i class="fa fa-archive"></i>&nbsp;&nbsp;&nbsp;Categories
      </a>
    </li>

    <li>
      <a ui-sref-active='side-nav-active' ui-sref="admin.dashboard.collections">
        <i class="fa fa-bookmark"></i>&nbsp;&nbsp;&nbsp;Collections
      </a>
    </li>

    <li>
      <a ui-sref-active='side-nav-active' ui-sref="admin.dashboard.resources">
        <i class="fa fa-external-link"></i>&nbsp;&nbsp;&nbsp;Resources
      </a>
    </li>
  </ul>
</div>