<h2>Welcome to Evergreen!</h2>

<p>Are you curious about some of the bigger questions? Want to help others learn what you may already know?</p>

<p>That's what Evergreen is here for. We help compile the best information for life's big quesitons so that you can learn the very best information without having to comb through the garbage.</p>

<p>Thanks for signing up!</p>

<p><b>-Eric</b></p>