<h2>What's new with Evergreen?</h2>
<p>We've had a lot of new postings this week! Take a look at some of our newest collections:</p>
<ul>
	<% @collections.each do |collection| %>
		<li><a href="http://fast-shore-10637.herokuapp.com/#/collection/<%= collection.id %>" target="_blank"><%= collection.title.titleize %></a></li>
	<% end %>
</ul>
<p>Thanks for enjoying Evergreen, stay savvy.</p>
<p><b>-Eric</b></p>