<!-- HEADER -->
<div set-height class="row" id="email-header">
  <section class="col-sm-7">
    <section>
      <h1>Evergreen <small><i>Collections of Timeless Resources</i></small></h1>
      <hr>
      <p><strong>Because finding the right resource at the right time is life-changing.</strong> Evergreen is home to the all-time greatest resources, organized so you can find useful lessons in an internet full of slapdash, pageview-optimized bullshit.</p>
    </section>
  </section>

  <section class='col-sm-5'>
    <div id='email-email' ng-style='style'>
      <div class='email-email-wrapper text-center' id='email-signup'>
        <p class="text-center">New resources added every Monday(ish). Join 3,000 others here.</p>
        <form id="email-mailchimp-form">
          <div class='col-sm-9'>
            <div class="form-group">
              <input type="text" name="mailchimp-email" id="mailchimp-email" class="form-control" placeholder="Email">
            </div>
          </div>

          <div class='col-sm-3'>
            <div class="form-group">
              <input type="submit" id="mailchimp-submit" class="btn btn-mailchimp" value="Join"></input>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>
<!-- END HEADER -->