<ul class='nav navbar-nav navbar-right'>
  <div class="search-form-wrapper">
    <li class="pointer" ng-hide="editorEnabled" ng-click="enableEditor($event)">
      <i class="fa fa-search fa-1x"></i>
    </li>

    <li class="search-animation" ng-show="editorEnabled">
      <form class="form-inline">
        <div class="form-group">
          <input autofocus="autofocus" type="text" class="form-control" placeholder="Search terms..." ng-model='searchText'>
        </div>
        <button ui-sref="search({query: searchText})" class="search-btn btn btn-default" ng-click="closeSearch()" ng-class="{ disabled: empty() }"><i class="fa fa-search fa-1x"></i></button>
      </form>
    </li>
  </div>
</ul>