<div class='row'>
	<div id="all-sector-wrapper" class='col-xs-10 col-xs-offset-1'>
		<h2>{{thisCollection.title}}:</h2>
		<p>{{thisCollection.description}}</p>
		
		<table class="table table-hover table-bordered">
			<thead>
				<tr>
					<th>Type</th>
					<th>Title</th>
					<th>Upvotes</th>
					<th>Owner</th>
					<th>Created At</th>
				</tr>
			</thead>
		
			<tbody>
				<tr ng-repeat="resource in thisCollection.resources">
					<td>{{resource.media_type ? resource.media_type : 'N/A'}}</td>
					<td><a href="{{resource.url}}" target="_blank">{{resource.title}}</a></td>
					<td>{{resource.upvotes}}</td>
					<td>{{resource.owner.username}}</td>
					<td>{{resource.created_at | date}}</td>
				</tr>		
			</tbody>
		</table>

	</div>
</div>