<div class='container-fluid'>

	<email-header></email-header>

	<!-- Title -->
	<div class='row collection-title-wrapper'>
		<div class='col-sm-10 col-sm-offset-1 text-center'>
			<h1>The Top Resources to Learn: <strong>{{ collectionName | capitalize:true }}</strong></h1>
		</div>

		<div class='col-sm-10 col-sm-offset-1 collection-strike'>
			<div class='strike'>
				<span>Take your time, truly great content deserves care.</span>
			</div>
		</div>

		<div class='col-sm-8 col-sm-offset-2 text-center'>
			<p>{{ collectionDesc }}</p>
		</div>

		<div class='col-sm-6 col-sm-offset-3 text-center'>
			<br>
			<p><i class='fa fa-leaf'></i> Synthesis &mdash; <a href='{{ synthesis.url }}' target='_blank'>{{ synthesis.title }}</a></p>

			<!-- PAGINATION -->
			<div class='pagination-wrapper' ng-if='pagination.totalPages() > 1'>
				<ul class='list-inline'>
					<li>
						<span class='pointer' ng-click='pageDown()'>
							<i class='fa fa-backward'></i>
						</span>
					</li>

					<li class='current-page'>
						<p>Page: {{ pagination.currentPage }} of {{ pagination.totalPages() }}</p>
					</li>

					<li>
						<span class='pointer' ng-click='pageUp()'>
							<i class='fa fa-forward'></i>
						</span>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<!-- Resources -->
	<div ng-repeat='resource in resources | limitTo: pagination.perPage : pagination.offset()' class='row'>
		<div class='col-sm-8 col-sm-offset-2 collection-resource-wrapper'>
			<h3>
				<a href='{{ resource.url }}' target='_blank'>
					{{ resource.title }}<!--
				--></a><!--
				--><i class='fa fa-check-square' data-toggle="tooltip" data-placement="left" title="Admin Approved" ng-if='resource.approved'></i>
			</h3>
			<p class='resource-owner'>by {{ resource.owner.username }} | {{ resource.created_at | date }}</p>
			<div class='col-sm-12'>
				<p>{{ resource.description }}</p>
			</div>
		</div>
	</div>
</div>