<h1 class='page-header'>Categories</h1>

<div class='row'>
  <div class='col-md-12'>

    <table class='table table-bordered table-striped text-center'>
      <thead>
        <tr>
          <th class='pointer' ng-click="toggleSort('id')">
            ID
            <i ng-class="sortIcon('id')"></i>
          </th>

          <th class='pointer' ng-click="toggleSort('title')">
            Category Title
            <i ng-class="sortIcon('title')"></i>
          </th>

          <th class='pointer' ng-click="toggleSort('collection_total')">
            Number of Collections
            <i ng-class="sortIcon('collection_total')"></i>
          </th>

          <th class='pointer' ng-click="toggleSort('resource_total')">
            Number of Resources
            <i ng-class="sortIcon('resource_total')"></i>
          </th>

          <th>Remove Category?</th>

          <th>Edit Category?</th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="category in categories | orderBy:sort:sortDescending">
          <td>{{ category.id }}</td>
          <td>{{ category.title | capitalize:true }}</td>
          <td>{{ category.collection_total }}</td>
          <td>{{ category.resource_total }}</td>
          <td>
            <span class='btn btn-danger btn-sm' ng-click='destroyCategory(category)'>
              Delete
            </span>
          </td>
          <td>
            <span class='btn btn-warning btn-sm' ng-click='toggleEditForm(category)'>
              Edit
            </span>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

<div class='row'>
  <!-- ADD CATEGORY FORM -->
  <div class='col-md-6'>
    <div ng-if="!addCategoryForm">
      <span class='btn btn-primary' ng-click='toggleAddForm()'>
        Add a new cateogry
      </span>
    </div>

    <div ng-if="addCategoryForm">
      <form class='form-inline'>
        <div class='form-group'>
          <select class='form-control' ng-model='addCategory.sector_id'>
            <option value="" disabled selected>Choose a sector...</option>
            <option ng-repeat="sector in sectors" value='{{ sector.id }}'>{{ sector.title }}</option>
          </select>
        </div>

        <div class='form-group'>
          <input type='text' class='form-control' placeholder='Category Name...' ng-model='addCategory.title'>
        </div>

        <button type='submit' class='btn btn-success' ng-click='createCategory(addCategory)'>Add Category</button>
      </form>
    </div>
  </div>

  <!-- EDIT CATEGORY FORM -->
  <div class='col-md-6'>
    <div ng-if="editCategoryForm">
      <form class='form-inline pull-right'>
        <div class='form-group'>
          <select class='form-control' ng-model='editCategory.sector_id' ng-options="sector.id as sector.title for sector in sectors">
          </select>
        </div>

        <div class='form-group'>
          <input type='text' class='form-control' placeholder='Category Name...' ng-model='editCategory.title'>
        </div>

        <button type='submit' class='btn btn-success' ng-click='updateCategory(editCategory)'>Edit Category</button>
      </form>
    </div>
  </div>

  <div class='navbar-spacer'></div>
</div>