<h1 class='page-header'>Collections</h1>

<div class='row'>
  <div class='col-md-12'>

    <table class='table table-bordered table-striped text-center'>
      <thead>
        <tr>
          <th class='pointer' ng-click="toggleSort('id')">
            ID
            <i ng-class="sortIcon('id')"></i>
          </th>

          <th class='pointer' ng-click="toggleSort('title')">
            Collection Name
            <i ng-class="sortIcon('title')"></i>
          </th>

          <th>Collection Description</th>

          <th class='pointer' ng-click="toggleSort('resource_total')">
            Total Resources
            <i ng-class="sortIcon('resource_total')"></i>
          </th>

          <th>Synthesis IDs</th>

          <th>Remove Collection?</th>

          <th>Edit Collection?</th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="collection in collections | orderBy:sort:sortDescending">
          <td>{{ collection.id }}</td>
          <td>{{ collection.title | capitalize:true }}</td>
          <td>{{ collection.description }}</td>
          <td>{{ collection.resource_total }}</td>
          <td>{{ collection.syn_IDs }}</td>
          <td>
            <span class='btn btn-danger btn-sm' ng-click='destroyCollection(collection)'>
              Delete
            </span>
          </td>

          <td>
            <span class='btn btn-warning btn-sm' ng-click='toggleEditForm(collection)'>
              Edit
            </span>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

<div class='row'>
  <!-- ADD COLLECTION FORM -->
  <div class='col-md-4'>
    <div ng-if="!addCollectionForm">
      <span class='btn btn-primary' ng-click='toggleAddForm()'>Add a new collection</span>
    </div>

    <div ng-if="addCollectionForm">
      <form>
        <div class='form-group'>
          <select class='form-control' ng-model='addCollection.category_id'>
            <option value="" disabled selected>Choose a category...</option>
            <option ng-repeat="category in categories" value='{{ category.id }}'>{{ category.title }}</option>
          </select>
        </div>

        <div class='form-group'>
          <input type='text' class='form-control' placeholder='Collection Name...' ng-model='addCollection.title'>
        </div>

        <div class='form-group'>
          <textarea class='form-control' placeholder='Collection Description...' rows='3' ng-model='addCollection.description'>
          </textarea>
        </div>

        <button type='submit' class='btn btn-success' ng-click='createCollection(addCollection)'>Add Collection</button>
      </form><br />
    </div>
  </div>

  <!-- EDIT COLLECTION FORM -->
  <div class='col-md-4 col-md-offset-4'>
    <div ng-if="editCollectionForm">
      <form>
        <div class='form-group'>
          <select class='form-control' ng-model='editCollection.category_id' ng-options="category.id as category.title for category in categories">
          </select>
        </div>

        <div class='form-group'>
          <input type='text' class='form-control' placeholder='Collection Name...' ng-model='editCollection.title'>
        </div>

        <div class='form-group'>
          <textarea class='form-control' placeholder='Collection Description...' rows='3' ng-model='editCollection.description'>
          </textarea>
        </div>

        <button type='submit' class='btn btn-success' ng-click='updateCollection(editCollection)'>Edit Collection</button>
      </form><br />
    </div>
  </div>

  <div class='navbar-spacer'></div>
</div>