<h1 class='page-header'>Collections</h1>

<div class='row'>
  <div class='col-md-12'>

    <table class='table table-bordered table-striped text-center'>
      <thead>
        <tr>
          <th>ID</th>
          <th>Collection Name</th>
          <th>Collection Description</th>
          <th>Total Resources</th>
          <th>Synthesis IDs</th>
          <th>Remove Collection?</th>
          <th>Edit Collection?</th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="collection in collections">
          <td>{{ collection.id }}</td>
          <td>{{ collection.title }}</td>
          <td>{{ collection.description }}</td>
          <td>{{ collection.resources.length }}</td>
          <td>{{ collection.synthesis }}</td>
          <td><span class='btn btn-danger btn-sm' ng-click='destroyCollection(collection)'>Delete</span></td>
          <td><span class='btn btn-warning btn-sm' ng-click='toggleEditForm(collection)'>Edit</span></td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

<div class='row'>
  <!-- ADD COLLECTION FORM -->
  <div class='col-md-4'>
    <div ng-if="!addCollectionForm">
      <span class='btn btn-primary' ng-click='toggleAddForm()'>Add a new collection</span>
    </div>

    <div ng-if="addCollectionForm">
      <form>
        <div class='form-group'>
          <select class='form-control' ng-model='collection.sector_id'>
            <option value="" disabled selected>Choose a sector...</option>
            <option ng-repeat="sector in sectors" value='{{ sector.id }}'>{{ sector.title }}</option>
          </select>
        </div>

        <div class='form-group'>
          <input type='text' class='form-control' placeholder='Collection Name...' ng-model='collection.title'>
        </div>

        <div class='form-group'>
          <textarea class='form-control' placeholder='Collection Description...' rows='3' ng-model='collection.description'>
          </textarea>
        </div>

        <button type='submit' class='btn btn-primary' ng-click='createCollection(collection)'>Add Collection</button>
      </form><br />
    </div>
  </div>

  <!-- EDIT COLLECTION FORM -->
  <div class='col-md-4 col-md-offset-4'>
    <div ng-if="editCollectionForm">
      <form>
        <div class='form-group'>
          <input type='text' class='form-control' placeholder='Collection Name...' ng-model='editCollection.title'>
        </div>

        <div class='form-group'>
          <textarea class='form-control' placeholder='Collection Description...' rows='3' ng-model='editCollection.description'>
          </textarea>
        </div>

        <button type='submit' class='btn btn-primary' ng-click='updateCollection(editCollection)'>Edit Collection</button>
      </form><br />
    </div>
  </div>
</div>