<h1 class='page-header'>Overview</h1>

<!-- Overview of Totals -->
<div class='row'>

  <!-- User Count -->
  <div class='col-md-12'>
    <div class='panel panel-primary'>
      <div class='panel-heading'>
        <div class='row'>
          <div class='col-xs-3'>
            <i class='fa fa-users fa-5x'></i>
          </div>

          <div class='col-xs-9 text-right'>
            <div class='panel-text-lg'>{{ totalUsers }}</div>
            <div class='panel-text-md'>Users</div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class='row'>
  <!-- Sector Count -->
  <div class='col-md-3'>
    <div class='panel panel-green'>
      <div class='panel-heading'>
        <div class='row'>
          <div class='col-xs-3'>
            <i class='fa fa-book fa-5x'></i>
          </div>

          <div class='col-xs-9 text-right'>
            <div class='panel-text-lg'>{{ totalSectors }}</div>
            <div class='panel-text-md'>Sectors</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Category Count -->
  <div class='col-md-3'>
    <div class='panel panel-red'>
      <div class='panel-heading'>
        <div class='row'>
          <div class='col-xs-3'>
            <i class='fa fa-archive fa-5x'></i>
          </div>

          <div class='col-xs-9 text-right'>
            <div class='panel-text-lg'>{{ totalCategories }}</div>
            <div class='panel-text-md'>Categories</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Collection Count -->
  <div class='col-md-3'>
    <div class='panel panel-orange'>
      <div class='panel-heading'>
        <div class='row'>
          <div class='col-xs-3'>
            <i class='fa fa-bookmark fa-5x'></i>
          </div>

          <div class='col-xs-9 text-right'>
            <div class='panel-text-lg'>{{ totalCollections }}</div>
            <div class='panel-text-md'>Collections</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Resource Count -->
  <div class='col-md-3'>
    <div class='panel panel-yellow'>
      <div class='panel-heading'>
        <div class='row'>
          <div class='col-xs-3'>
            <i class='fa fa-external-link fa-5x'></i>
          </div>

          <div class='col-xs-9 text-right'>
            <div class='panel-text-lg'>{{ totalResources }}</div>
            <div class='panel-text-md'>Resources</div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- Top 3 Resources -->
<h2 class='page-header'>Top 3 Resources in Each Sector</h2>
<div class='row' ng-repeat='sector in sectors'>

  <h3 class='page-header text-center'>{{ sector.title | capitalize:true }}</h3>
  <div class='col-md-4' ng-repeat="resource in sector.top_three[0]">
    <div class='panel panel-default'>
      <div class='panel-heading'>
        <div class='panel-text-md text-center'><b>{{ resource.title | capitalize:true }}</b></div>
      </div>

      <div class='panel-body'>
        <div class='row'>
          <div class='col-xs-8'>
            <b>Description:</b> {{ resource.description }}
          </div>

          <div class='col-xs-4 text-right'>
            <span class='panel-text-upvote'>{{ sector.top_three[2][sector.top_three[0].indexOf(resource)] }}</span>
            &nbsp;&nbsp;<i class='fa fa-thumbs-o-up fa-2x'></i>
          </div>
        </div>
      </div>

      <div class='panel-footer'>
        <div><b>Owner:</b> {{ sector.top_three[1][sector.top_three[0].indexOf(resource)] }}</div>
      </div>
    </div>
  </div>

</div>

<!-- Top 3 Contributors -->
<h2 class='page-header'>Top 3 Contributors</h2>
<div class='row'>
  <ol class='list-group'>
    <li class='list-group-item' ng-repeat='contributor in topContributors'>{{ contributor.username }}: {{ contributor.resource_total }} resources</li>
  </ol>
</div>

<!-- Top 3 Prolific -->
<h2 class='page-header'>Top 3 Most Prolific Contributors</h2>
<div class='row'>
  <ol class='list-group'>
    <li class='list-group-item' ng-repeat='user in top3Prolific'>{{ user.username }}: {{ user.upvote_count }} total upvotes</li>
  </ol>
</div>