<h1 class='page-header'>Resources</h1>

<div class='row'>
  <div class='col-md-12'>

    <table class='table table-bordered table-striped text-center'>
      <thead>
        <tr>
          <th class='pointer' ng-click="toggleSort('id')">
            ID
            <i ng-class="sortIcon('id')"></i>
          </th>

          <th class='pointer' ng-click="toggleSort('upvotes')">
            Upvotes
            <i ng-class="sortIcon('upvotes')"></i>
          </th>

          <th class='pointer' ng-click="toggleSort('title')">
            Resource Title
            <i ng-class="sortIcon('title')"></i>
          </th>

          <th>
            Resource Description
          </th>

          <th class='pointer' ng-click="toggleSort('owner.username')">
            Resource Owner
            <i ng-class="sortIcon('owner.username')"></i>
          </th>

          <th class='pointer' ng-click="toggleSort('collection.title')">
            Collection
            <i ng-class="sortIcon('collection.title')"></i>
          </th>

          <th>Remove Resource?</th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="resource in resources | orderBy:sort:sortDescending" ng-class="{'success': resource.synthesis}">
          <td>{{ resource.id }}</td>
          <td>{{ resource.upvotes }} <i class='fa fa-thumbs-o-up fa-1x'></i></td>
          <td>
            <a href="{{ resource.url }}">
              {{ resource.title }}
            </a>
          </td>
          <td>{{ resource.description }}</td>
          <td>{{ resource.owner.username }}</td>
          <td>{{ resource.collection.title }}</td>
          <td>
            <span class='btn btn-danger btn-sm' ng-click='destroyResource(resource)'>
              Delete
            </span>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>