<h1 class='page-header'>Sectors</h1>

<div class='row'>
  <div class='col-md-12'>

    <table class='table table-bordered table-striped text-center'>
      <thead>
        <tr>
          <th class='pointer' ng-click="toggleSort('id')">
            ID
            <i ng-class="sortIcon('id')"></i>
          </th>

          <th class='pointer' ng-click="toggleSort('title')">
            Sector Name
            <i ng-class="sortIcon('title')"></i>
          </th>

          <th class='pointer' ng-click="toggleSort('categories.length')">
            Number of Categories
            <i ng-class="sortIcon('categories.length')"></i>
          </th>

          <th class='pointer' ng-click="toggleSort('totalCollections')">
            Number of Collections
            <i ng-class="sortIcon('totalCollections')"></i>
          </th>

          <th class='pointer' ng-click="toggleSort('totalResources')">
            Number of Resources
            <i ng-class="sortIcon('totalResources')"></i>
          </th>

          <th>Remove Sector?</th>

          <th>Edit Sector?</th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="sector in sectors | orderBy:sort:sortDescending">
          <td>{{ sector.id }}</td>
          <td ng-if='!editSectorForm[sector.id]'>{{ sector.title }}</td>

          <!-- EDIT SECTOR FORM -->
          <td ng-if='editSectorForm[sector.id]'>
            <form>
              <div class='form-group'>
                <input type='text' class='form-control' placeholder='Sector Name...' ng-model='editSector.title'>
              </div>
            </form>
          </td>

          <td>{{ sector.categories.length }}</td>
          <td>{{ sector.totalCollections }}</td>
          <td>{{ sector.totalResources }}</td>
          <td><span class='btn btn-danger btn-sm' ng-click='destroySector(sector)'>Delete</span></td>
          <td>
            <span class='btn btn-warning btn-sm' ng-click='toggleEditForm(sector)' ng-if='!editSectorForm[sector.id]'>Edit</span>

            <span class='btn btn-success btn-sm' ng-click='updateSector(editSector)' ng-if='editSectorForm[sector.id]'>Update Sector</span>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

<!-- ADD SECTOR FORM -->
<div class='row'>
  <div class='col-md-12'>
    <div ng-if="!addSectorForm">
      <span class='btn btn-primary' ng-click='toggleAddForm()'>Add a new sector</span>
    </div>

    <div ng-if="addSectorForm">
      <form class='form-inline'>
        <div class='form-group'>
          <input type='text' class='form-control' placeholder='Sector Name...' ng-model='sector.title'>
        </div>
        <button type='submit' class='btn btn-primary' ng-click='createSector(sector)'>Add Sector</button>
      </form>
    </div>
  </div>
</div>