<h1 class="page-header">
  Users
  <div class='col-md-1 pull-right user-choice-wrapper'>
    <select class='form-control' ng-model='currentTable' ng-change='setTable(currentTable)'>
      <option value='admin'>Admins</option>
      <option value='curator'>Curators</option>
      <option value='reader'>Readers</option>
    </select>
  </div>
</h1>

<div class='row'>

  <!-- ALL ADMINS -->
  <div class='col-md-8 col-md-offset-2' ng-if="showTable('admin')">

    <table class='table table-bordered table-striped table-condensed text-center'>
      <caption>Admins <span class="badge">{{ admins.length }}</span></caption>
      <thead>
        <tr>
          <th class='pointer' ng-click="toggleSort('id')">
            ID
            <i ng-class="sortIcon('id')"></i>
          </th>

          <th class='pointer' ng-click="toggleSort('username')">
            Username
            <i ng-class="sortIcon('username')"></i>
          </th>

          <th>Email</th>

          <th class='pointer' ng-click="toggleSort('resource_total')">
            Total Resources
            <i ng-class="sortIcon('resource_total')"></i>
          </th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="admin in admins | orderBy:sort:sortDescending">
          <td>{{ admin.id }}</td>
          <td>
            <a ui-sref="userResources({user_id: {{admin.id}}})">
              {{ admin.username }}
            </a>
          </td>
          <td>{{ admin.email }}</td>
          <td>{{ admin.resource_total }}</td>
        </tr>
      </tbody>
    </table>

  </div>

  <!-- ALL CURATORS -->
  <div class='col-md-8 col-md-offset-2' ng-if="showTable('curator')">

    <table class='table table-bordered table-striped table-condensed text-center'>
      <caption>Curators <span class="badge">{{ curators.length }}</span></caption>
      <thead>
        <tr>
          <th class='pointer' ng-click="toggleSort('id')">
            ID
            <i ng-class="sortIcon('id')"></i>
          </th>

          <th class='pointer' ng-click="toggleSort('username')">
            Username
            <i ng-class="sortIcon('username')"></i>
          </th>

          <th>Email</th>

          <th class='pointer' ng-click="toggleSort('resource_total')">
            Total Resources
            <i ng-class="sortIcon('resource_total')"></i>
          </th>

          <th>Demote?</th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="curator in curators | orderBy:sort:sortDescending">
          <td>{{ curator.id }}</td>
          <td>
            <a ui-sref="userResources({user_id: {{curator.id}}})">
              {{ curator.username }}
            </a>
          </td>
          <td>{{ curator.email }}</td>
          <td>{{ curator.resource_total }}</td>
          <td>
            <a class='btn btn-sm btn-danger' ng-click="demoteCurator(curator)">
              Demote
            </a>
          </td>
        </tr>
      </tbody>
    </table>

  </div>

  <!-- ALL READERS -->
  <div class='col-md-8 col-md-offset-2' ng-if="showTable('reader')">

    <table class='table table-bordered table-striped table-condensed text-center'>
      <caption>Readers <span class="badge">{{ readers.length }}</span></caption>
      <thead>
        <tr>
          <th class='pointer' ng-click="toggleSort('id')">
            ID
            <i ng-class="sortIcon('id')"></i>
          </th>

          <th class='pointer' ng-click="toggleSort('username')">
            Username
            <i ng-class="sortIcon('username')"></i>
          </th>

          <th>Email</th>

          <th>Promote?</th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="reader in readers | orderBy:sort:sortDescending">
          <td>{{ reader.id }}</td>
          <td>{{ reader.username }}</td>
          <td>{{ reader.email }}</td>
          <td>
            <a class='btn btn-sm btn-primary' ng-click="promoteReader(reader)">
              Promote
            </a>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>