// Place all the styles related to the collections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$primary: #336633;

#collection-form {
  margin-bottom: 20px;
}

.collection-strike {
  margin-top: 15px;
  margin-bottom: 15px;
}

.collection-title-wrapper {
  p {
    font-size: 1.7em;
  }

  .fa-leaf {
    color: $primary;
    background: #E8E8E8;
    border: 1px solid #E8E8E8;
    border-radius: 50%;
  }
}

.collection-resource-wrapper {
  border-bottom: 1px solid #E8E8E8;
  margin-top: 15px;
  padding-bottom: 15px;

  .resource-icon-wrapper {

    .fa {
      color: $primary;
      background: #FFF;
    }

    .upvote-btn,
    .upvoted-btn {
      border: 1px solid #000;
      border-radius: 3px; 
      font-size: 14px;
      font-weight: 700;
      position: absolute;
      margin-left: 16px;
      padding: 6px 12px;
    }

    .upvote-btn {
      background: $primary;
      color: #FFF;
    }

    .upvoted-btn {
      background: #333366;
      color: #FFF;
    }

    .clear-fix {
      clear: both;
    }

  }

  .resource-owner {
    color: #636363;
  }
}

.pagination-wrapper {
  height: 100%;

  .current-page {
    height: 53px;

    p {
      line-height: 53px;
    }
  }
}