$primary: #336633;

.update-resource-strike,
.create-resource-strike {
  h1 {
    color: #000;
    margin: 0.67em 0 0.67em 0;
    font-size: 48px;
  }
}

#update-resource-wrapper,
#create-resource-wrapper {
  label {
    font-size: 18px;
  }

  .example {
    font-size: 18px;
  }

  .form-group {
    margin-bottom: 25px;
  }

  .form-control {
    border-radius: 0;
    font-size: 16px;
    border: 2px solid $primary;
  }

  input {
    padding: 25px 20px;
  }

  textarea {
    padding: 18px 20px;
  }

  select {
    height: 52px;
  }

  .update-resource-btn,
  .create-resource-btn {
    background: $primary;
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    padding: 14px 20px;
  }

  .delete-resource-btn {
    background: #663333;
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    padding: 14px 20px;
  }
}