$primary: #336633;

#email-header {
  height: 30%;
  min-height: 200px;
  background: $primary;
  color: #FFF;

  h1 {
    font-size: 2.5em;
  }

  small {
    color: #FFF;
  }

  p {
    font-size: 1.15em;
  }

  #email-email {
    width: 100%;
    height: 200px;

    .email-email-wrapper {
      overflow: auto;
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
    }
  }

  #mailchimp-submit {
    border: 2px solid #E8E8E8;
  }

  #email-mailchimp-form {
    width: 100%;

    #mailchimp-email {
      width: 100%;
    }

    #mailchimp-submit {
      width: 100%;
      margin-left: -15px;
    }
  }
}

@media only screen and (max-width: 768px) {
  #email-header {
    h1 {
      font-size: 1.8em;
    }

    p {
      font-size: 0.85em;
    }

    .btn-mailchimp {
      font-size: 10px;
    }
  }
}

@media only screen and (min-width: 768px)
                   and (max-width: 992px) {
  #email-header {
    h1 {
      font-size: 2.0em;
    }

    p {
      font-size: 1.05em;
    }

    .btn-mailchimp {
      font-size: 12px;
    }
  }
}