.navbar {
  margin-bottom: 0px !important;
}

.banner {
  width: 100%;
  height: 400px;
}

.dropdown-menu {
  min-width: 220px !important;
}

.nav-login-wrapper {
  margin: 10px 10px 0 10px;
}

.rmb-margin {
  margin-bottom: 5px !important;
}

.log-in {
  margin-bottom: 10px;
}

.pointer {
  cursor: pointer;
}