// navigation bar
.navbar {
  margin-bottom: 0px !important;
}

.banner {
  width: 100%;
  height: 400px;
}

.nav-login-wrapper {
  margin: 10px 10px 0 10px;
  min-width: 220px !important;
}

.rmb-margin {
  margin-bottom: 5px !important;
}

.log-in {
  margin-bottom: 10px;
}

// center navbar fa icons
.navbar .fa {
  line-height: 50px;
}

// other
.pointer {
  cursor: pointer;
}