$primary: #336633;

/* Raleway */ 
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700,400italic,300italic,700italic);

/* Lato */
/* @import url(https://fonts.googleapis.com/css?family=Lato:400,300,400italic,700); */

* {
	font-family: 'Raleway', sans-serif;
}

#homepage-header {
	height: 200px;
	background-color: $primary;
	color: white;
	padding-top: 20px;

	h1 {
		font-size: 6em;
		padding: 0px;
		margin: 0px;
	}

	h3 {
		font-weight: 300;
		font-size: 1.6em;
	}

	hr {
		width: 40%;
	}
}

.main-green,
.fa-tree {
	color: $primary;
}

#email-signup-above {
	margin-top: 20px;

	.header {
		font-weight: 700;
		font-size: 1.3em;
	}
}

#email-hr {
	hr{
		width: 20%;
	}
}

#email-signup {

	#mailchimp-form {
		width: 420px;
		display: block;
		margin: 0px auto;
	}

	#mailchimp-email {
		height: 50px;
		width: 320px;
		font-size: 1.8em;
	}

	#mailchimp-submit {
		background-color: $primary;
		color: white;
		font-weight: bold;
		height: 50px;
		width: 96px;
	}

}

#collection-cloud {
	margin-top: 20px;

	#collection-cloud-list {
		text-align: center;
		line-height: 30px;

		a {
			font-size: 1.3em;
		}
	}

}

// strikes e.g. -------- Test ---------
.strike {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;

  span {
    position: relative;
    display: inline-block;
    color: #636363;
  }

  span:before,
  span:after {
    content: '';
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 2px;
    background: #E8E8E8;
  }

  span:before {
    right: 100%;
    margin-right: 15px;
  }

  span:after {
    left: 100%;
    margin-left: 15px;
  }
}

// most updated collections

.top-collection-title {
}

.resource-wrapper {
	background: #E8E8E8;
	border-radius: 10px;
	margin-top: 10px;
	margin-bottom: 25px;

	.resource-title {
		padding-top: 15px;
		font-size: 1.5em;
	}
}

.view-all-btn {
	background: $primary;
	color: #FFF;
	font-weight: 700;
	margin: 10px 0 20px 0;
}

.view-all-btn:hover {
	color: #FFF;
}