.panel-text-lg {
  font-size: 40px;
}

.panel-text-md {
  font-size: 20px;
}

.panel-text-upvote {
  font-size: 24px;
}

.panel-red{
  border-color: #FF1919;
  background-color: #FF1919;
}

.panel-green {
  border-color: #5CB85C;
  background-color: #5CB85C;
}

.panel-yellow {
  border-color: #FFE600;
  background-color: #FFE600;
}

.panel-orange {
  border-color: #FFA500;
  background-color: #FFA500;
}

.panel-green,
.panel-orange,
.panel-yellow,
.panel-red {
  color: #FFF;
}