.search-animation.ng-hide-add, .search-animation.ng-hide-remove {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-name: tinUpIn;
  animation-name: tinUpIn;
}

.search-animation.ng-hide {
  -webkit-animation-duration: 0s;
  animation-duration: 0s;
}

.search-btn {
  border-color: #333;
  background-color: #222;
  color: #DDD;
}

.search-form-wrapper {
  height: 50px;
  margin-right: 10px;

  li {
    line-height: 50px;
  }

  .disabled {
    cursor: not-allowed;
  }
}