// Place all the styles related to the SiteInfo controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#edit-info {

  label {
    font-weight: bold;
    font-family: inherit;
    color: inherit;
    font-size: 24px !important;
  }

  margin-bottom: 50px;

}

.info-choice-wrapper {
  min-width: 150px;
}